<table>
    <tr>
        <td><a href="/">Introduction</a></td>
        <td><a href="/housing">Ideas</a></td>
        <td><a href="/food">Meals</a></td>
        <td><a href="/activities">Activities</a></td>
        <td><a href="/family-night">Search Bar</a></td>
        <td><a href="/gallery">Bodyweight Calculator</a></td>
        <td><a href="{{ site.baseurl }}/fitness_review/resigster">Sign Up</a></td>
        <td><a href="{{ site.baseurl }}/fitness_review/login">Log In</a></td>
    </tr>
</table>
